name: Deploy better-react Documentation

on:
  push:
    branches: [main]
    # 只监听website目录的变化
    paths:
      - 'website/**'

  # 允许手动触发工作流
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
        working-directory: ./packages/better-react/website
      
      - name: Build documentation
        run: npm run build
        working-directory: ./packages/better-react/website
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './packages/better-react/website/out'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4